/*color*/
/* 
60% of #b1724e - Dominant
30% of #C08E72 - Secondary
10% of #CDA68F - Accent
*/

:root {

    /* var(--dominantColor) !important; */
    --dominantColor: #543421;

    /* var(--secondaryColor) !important; */
    --secondaryColor: #CDA68F;

    /* var(--accentColor) !important; */
    --accentColor: #E3B99F;

}