html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

h1,
h2 {
    color: var(--accentColor) !important;
}

.top-logo {
    height: auto;
    font-weight: bold;
    color: var(--dominantColor) !important;
    font-size: 55px;
    padding-top: 40px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

#top-logo-small {

    font-size: 29px;
    font-family: "Playfair Display", serif;
    color: var(--dominantColor) !important;

}

.material-symbols-outlined,
.material-symbols-outlined a {
    font-size: 60px;
    color: var(--dominantColor) !important;
    position: relative;
    top: 0px;
    text-decoration: none;
}

.navbar {
    background-color: var(--secondaryColor) !important;
}

.nav-link {
    font-size: 20px !important;
    color: #ffffff !important;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.footer-row {
    background-color: var(--dominantColor) !important;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer-row a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.fa-social-media,
.fa-social-media a {
    font-size: 25px !important;
    padding-left: 12px;
    padding-right: 12px;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25cm 0px;
    padding: 0.35cm 40px;
    line-height: 1.45;
    position: relative;
    color: var(--accentColor) !important;
}