@import "global.css";
@import "main.css";

.wrapper-body {
    background-image: url("/images/background-image.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper-main {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 0;
}

.wrapper-content {
    margin: auto;
    width: 100%;
    max-width: 1000px;
}