@import "global.css";
@import "main.css";

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff !important;
}

.fa-row {
    background-color: var(--dominantColor) !important;
    padding: 20px;
}

.fa-row-icon {
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 10px;
}

.fa-row-icon:hover {
    transform: scale(1.1);
}

.fa-row a {
    color: #ffffff !important;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.first-paragraph-div {
    position: relative;
    background-color: #fffffd;
    color: var(--dominantColor) !important;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    padding: 20px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first-paragraph-img {
    position: relative;
    float: left;
    padding-right: 18px;
}

@media(max-width:900px) {

    .first-paragraph-img {
        width: 100%;
        float: none;
        padding-right: 0px;
    }
}

.second-paragraph-div {
    position: relative;
    background-color: #fffffd;
    color: var(--dominantColor) !important;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    padding: 20px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second-paragraph-img {
    position: relative;
    float: right;
    padding-left: 18px;
}

@media(max-width:900px) {

    .second-paragraph-img {
        width: 100%;
        float: none;
        padding-left: 0px;
    }
}

.btn-isotope,
.btn-isotope:hover {
    color: #ffffff;
    border-radius: 0px;
}

.cropped {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    border: 10px solid var(--secondaryColor) !important;
    margin: auto;
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
}

.card {
    margin: 15px;
    height: 350px;
}

.card a {
    color: #020230;
}

.card-share-icons {
    position: absolute;
    bottom: 9px;
}

.card-share-icons i {
    padding-left: 5px;
    padding-right: 5px;
}

.cuadro {
    margin: 10px;
}

.slider-container {
    background-color: var(--dominantColor) !important;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main-slider {
    width: 95%;
    display: block;
    margin: 0 auto;
}