@import "global.css";
@import "main.css";

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff !important;
}

.fa-row {
    background-color: var(--dominantColor) !important;
    padding: 20px;
}

.fa-row-icon {
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 10px;
}

.fa-row-icon:hover {
    text-transform: (1.1);
}

.fa-row a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}