@import "global.css";
@import "main.css";

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff !important;
}

.fa-row {
    background-color: var(--dominantColor) !important;
    padding: 20px;
}

.fa-row-icon {
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 10px;
}

.fa-row-icon:hover {
    transform: scale(1.1);
}

.fa-row a {
    color: #ffffff !important;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.first-paragraph-div {
    position: relative;
    background-color: #fffffd;
    color: var(--dominantColor) !important;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    padding: 20px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first-paragraph-img {
    position: relative;
    float: left;
    padding-right: 18px;
}

.second-paragraph-div {
    position: relative;
    background-color: #fffffd;
    color: var(--dominantColor) !important;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    padding: 20px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second-paragraph-img {
    position: relative;
    float: right;
    padding-left: 18px;
}